extends layout

block content
    main(class="items-center py-4 px-2 text-center")
        h1(class="text-3xl font-bold")= title
        p(class="mt-2") !{inStockCount} instruments in stock across !{instrumentTypeCount} different instruments!
