extends layout

block content
    main(class="items-center px-2 py-4 text-center")
        h1(class="text-3xl font-bold")= title
        p(class="mt-2") !{inStockCount} instruments in stock across !{instrumentTypeCount} different types!
