extends ../layout 

block content
    main(class="py-4 px-2 text-center") 
        button(class="border border-black p-2 rounded-md my-2")  
            a Add Instrument Model

        each instrument in instrumentTypes
            ul(class="text-2xl my-4 font-bold") #{instrument.type}:
                each model in allModels
                    if model.instrument.type === instrument.type
                        li(class="hover:text-slate-500 my-2 font-normal text-lg")
                            a(href=model.url)= model.name