extends ../layout 

block content
    main(class="py-4 px-2 text-center") 
        button(class="border border-black p-2 rounded-md mt-2")  
            a Add Manufacturer
        h2(class="text-3xl font-bold my-4")= title 
        ul(class="text-lg") 
            each manufacturer in allManufacturers
                li(class="hover:text-slate-500 my-2")
                    a(href=manufacturer.url)= manufacturer.name